form {
    position: absolute;
    display: inline-block;
    right: 10px;
}

.notification_box {
    background-color: rgb(194, 194, 194);
    border: 1px solid rgb(100, 100, 100);
    width: 1130px;
    height: 400px;
    overflow-x: auto;
}

hr {
    width: 80%;
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}

#navigation_bar {
  background-color: darkgreen;
  overflow: hidden;
  margin: auto;
  width: 77.885%;
  margin-top: 40px;
}

#navigation_bar a {
  float: left;
  color: gainsboro;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navigation_bar a:hover {
  background-color: gainsboro;
  color: black;
}